@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.hero-section {
  background: rgba(255, 255, 255, 0.6) /* White color with 80% opacity */;
  background-image: url(../assets/blur-hospital.jpg);
  background-size: cover;
  background-position: 0 -300px;
  padding: 100px 0;
  text-align: center;
  opacity: 1;
}

.hero-section h1 {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #00ff89;
}

.hero-section h3 {
  color: #00ff89;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hero-section button {
  font-size: 1rem;
  padding: 10px 20px;
}

.hero-section-appoint {
  background-size: cover;
  background-position: 0 -300px;
  padding: 80px 6vw;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(157, 255, 244, 0.6),
    rgba(157, 255, 244, 0)
  );
}

.hero-section-appoint h1 {
  font-size: 3rem;

  font-family: "Roboto", sans-sarif;
  color: #006eff;
}

.hero-section-appoint h3 {
  color: #000;
  font-family: "Roboto", sans-sarif;
  font-weight: 400;
}

.hero-section-appoint button {
  font-size: 1rem;
  padding: 10px 20px;
}

.book-appoint {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .doctor-icon {
    display: none;
  }
}
